.link-body {
  background: url(../images/c8a884c9678aca9fc6ee55701de40491.png);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  min-height: 100%;
}
